<footer>
	<table class="footer-table">
		<tr>
			<td><a class="footer-link" href="https://github.com/AshwinK97/SOFE3700-FinalProject">github repository</a></td>
			<td><a class="footer-link" href="#">python-flask</a></td>
			<td><a class="footer-link" href="#">Jasindan Rasalingam</td>
		</tr>
		<tr>
			<td><a class="footer-link" href="#">somethingidk</a></td>
			<td><a class="footer-link" href="#">sqlite3</td>
			<td><a class="footer-link" href="#">Darron Singh</td>
		</tr>
		<tr>
			<td><a class="footer-link" href="#">somethingelse</a></td>
			<td><a class="footer-link" href="#">plotly</td>
			<td><a class="footer-link" href="#">Kashal Patel</td>
		</tr>
		<tr>
			<td><a class="footer-link" href="#">somethingelse</a></td>
			<td><a class="footer-link" href="#">google finance</td>
			<td><a class="footer-link" href="#">Ashwin Kamalakannan</td>
		</tr>
	</table>
	<!-- D3.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<!-- Plotly.js -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	<script type="text/javascript">
		var graphs = {{graphJSON | safe}};
		var ids = {{ids | safe}};
		for(var i in graphs) {
				Plotly.plot(ids[i], // the ID of the div, created above
										graphs[i].data,
										graphs[i].layout);
		}
	</script>
</footer>