<footer>
	<table class="footer-table">
		<tr>
			<td><a class="footer-link" href="https://github.com/AshwinK97/SOFE3700-FinalProject">github repository</a></td>
			<td><a class="footer-link" href="#">python-flask</a></td>
			<td><a class="footer-link" href="#">Jasindan Rasalingam</td>
		</tr>
		<tr>
			<td><a class="footer-link" href="#">somethingidk</a></td>
			<td><a class="footer-link" href="#">sqlite3</td>
			<td><a class="footer-link" href="#">Darron Singh</td>
		</tr>
		<tr>
			<td><a class="footer-link" href="#">somethingelse</a></td>
			<td><a class="footer-link" href="#">plotly</td>
			<td><a class="footer-link" href="#">Kashal Patel</td>
		</tr>
		<tr>
			<td><a class="footer-link" href="#">somethingelse</a></td>
			<td><a class="footer-link" href="#">google finance</td>
			<td><a class="footer-link" href="#">Ashwin Kamalakannan</td>
		</tr>
	</table>
</footer>