<div id="footer">
	<ul class="left">
		<li class="footer-header">Links</li>
		<li><a class="footer-link" href="https://github.com/AshwinK97/SOFE3700-FinalProject">Github Repository</a></li>
		<li><a class="footer-link" href="https://uoit.ca/index.php">UOIT</a></li>
		<li><a class="footer-link" href="https://plot.ly/">Plotly</a></li>
		<li><a class="footer-link" href="https://purecss.io/">Pure.css</a></li>
	</ul>
	<ul class="right">
		<li class="footer-header">Group Members</li>
		<li><a class="footer-link" href="https://github.com/jasindan97">Jasindan Rasalingam</a></li>
		<li><a class="footer-link" href="https://github.com/DarronSingh">Darron Singh</a></li>
		<li><a class="footer-link" href="https://github.com/Artemis854">Kaushal Patel</a></li>
		<li><a class="footer-link" href="https://github.com/AshwinK97">Ashwin Kamalakannan</a></li>
	</ul>
	<ul class="center">
		<li class="footer-header">Resources</li>
		<li><a class="footer-link" href="http://flask.pocoo.org/">Flask</a></li>
		<li><a class="footer-link" href="https://www.sqlite.org/">SQLite3</a></li>
		<li><a class="footer-link" href="https://www.quandl.com/tools/api">Quandl API</a></li>
		<li><a class="footer-link" href="#">placeholder</a></li>
	</ul>
</div>
<div id="legal">
	Copyright © 2017 SOFE3700. All rights reserved.
</div>

<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
	var graphs = {{graphJSON | safe}}
	var ids = {{ids | safe}}
	for(var i in graphs) {
		Plotly.plot(ids[i], graphs[i].data, graphs[i].layout)
	}
</script>

<script type="text/javascript">
	var d = new Date()
	document.getElementById('legal').innerHTML = "Copyright © " + d.getFullYear() + " StockView. All rights reserved.";
</script>