<!DOCTYPE html>
<html>
<head>
	<title>Flask App</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body>
	{% include 'includes/_nav.html' %}
	<div id="wrapper">
		{% block body %}{% endblock %}
	</div>
	{% include 'includes/_footer.html' %}
</body>
</html>