<!DOCTYPE html>
<html>
<head>
	<title>Flask App</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
</head>
<body>
	<div id="nav-div">
		{% include 'includes/_nav.html' %}
	</div>
	<div id="wrapper-div">
		{% block body %}{% endblock %}
	</div>
	<div id="footer-div">
		{% include 'includes/_footer.html' %}
	</div>
</body>
</html>