#footer {
	position: relative;
	margin-top: 5%;
	margin-bottom: 0%;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	background-color: #232f3e;
}

.footer-header {
	color: white;
	font-weight: bold;
	padding-bottom: 12px;
}

.left {
	list-style-type: none;
	float: left;
}

.center {
	list-style-type: none;
	float: center;
}

.right {
	list-style-type: none;
	float: right;
}

.footer-link {
    display: block;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}

.footer-link:hover:not(.active) {
    text-decoration: underline;
}

#legal {
	color: white;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	background-color: #131a22;
}