footer {
	position: relative;
	margin-top: 10%;
	background-color: #efefef;
	text-align: center;
}

.footer-table {
	width: 100%;
}

.footer-item {}

.footer-link {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.footer-link:hover:not(.active) {
    text-decoration: underline;
}

.active {
	background-color:#4CAF50;
}