#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232f3e;
}

.nav-item {
    float: left;
}

.nav-item-right {
    float: right;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover:not(.active) {
    background-color: #111;
}

.active {
	background-color:#4CAF50;
}